<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
        <% render 'layouts/header' %>
    </header>
    <div class="container">
          <%= yield %>
          <%= render 'layouts/footer' %>
    </div>
  </body>
  
</html>
